/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(27, 27, 27);
    color: rgb(184, 184, 184);
}

/*Agregamos margenes inferiores a los parrafos*/
p {
    margin-bottom: 20px;
}

.titulo-principal{
    color:rgb(238, 40, 76);
    padding: 2%;   
}

h3{
    color: rgb(238, 40, 76);
    padding: 2%;

}

header {
    background: rgba(10, 10, 10, 0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
    width: 100%;
    color: white;
}
   
  
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding-left: 30px;

}

.dropdown-menu {
    background: rgba(10, 10, 10, 0.9);
    margin-top: 14px;
    border-radius: 0;
   
}

.navbar-collapse {
    padding-left: 20px ;
}

.dropdown-menu a {
    color: rgba(255,255,255,.5);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.dropdown-menu a:hover {
    color: white;
    background:none;
   
}

.dropdown-divider div {
    color: rgba(255,255,255,.5);
}
  
nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */   
    margin: 0 auto;
    color: white;
    text-decoration: none;
}
   
nav ul li:hover {
    color:  rgb(238, 40, 76);
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
  }

#carouselExampleCaptions{ 
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}

.carousel-inner {
    border-radius: 5px;
}

section{
    width: 80%;
    margin: 0 auto;
}


.carousel-caption{
    font-size: 25px;
}

.carousel-caption a{
    font-size: 15px;
    font-weight: bold;
}

#compra-uno{
    margin-left: 10px;
}

span{
    text-align: right;
}

.navbar-text a{
    color:rgb(204, 204, 204);
    margin-right: 10px;
    text-decoration: none;
}

.navbar-text a:hover{
    color:#FF002F;
}

.trailer iframe {
    width: 680px;
    height: 400px;
}

.videos{
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    font-family: Arial, sans-serif;
    padding: 10px;
    font-weight: bold;
}

.card{
    margin-left: 0;
    background-color: rgb(37, 36, 36);
    border: 0;
    margin-bottom: 30px;
    
}

.card-subtitle{
    padding-left: 0;
    text-align: center;
    
}

.card-text{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.categoria-consola-uno {
    width: 100%;
    background-color:#161616;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: center;

}

.categoria-dos {
    width: 100%;
}


.categoria-consola-uno img  {
    border-radius: 8px;
    width: 250px;
    height: 150px;
}

.categoria-consola a {
    text-decoration: none;
    color:rgb(204, 204, 204);
    margin: 0 auto;
}

.categoria-consola a:hover {
    text-decoration: none;
    color:rgb(238, 40, 76);
}


#precio{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
}


footer{
    background: #161616;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 18px;
    text-align: center;
}

footer a {
    color: rgb(204, 204, 204);
    font-size: 30px;
    padding-left: 3px;
    padding-right: 3px;
}

footer a:hover {
    color:rgb(238, 40, 76);
}

footer p {
    border-top: 1px solid rgba(209, 208, 208, 0.24);
    padding-top: 15px;
    width: 70%;
    margin:auto;
}

footer .politicas{
    font-size: 18px;
} 

footer .politicas:hover{
    text-decoration: none;
} 

.genero{
    border: 1px solid white;
}

.trailer{
    margin-top: 2%;
    
    
}

.info-juego{
    display: flex;
    flex-direction: row;
    padding: 4%;
    margin-left: 2%;
}

#imagen{
    height: 500px;
    float: right;
}

table{
    width: 90%;
    
}


.img-compra{
    width: 70px;
    height: 70px;
    border-radius: 10px;

}

section{
    padding-top: 5%;
}



.compra{
   padding-left: 10px;
}

.contenido{  
    padding-top: 3%;
    font-size: 20px;
    text-align: justify;
    
   
}

.advertencia {
    font-size: 20px;
    text-decoration: none;
    color:white;
}

.advertencia:hover {
    text-decoration: none;
    color:rgb(238, 40, 76);
}

.btn {
    font-size: 20px;
}

.requisitos{ 
    padding-top: 10px;
    font-size: 20px;   
}

.dos-requisitos { 
    background-color: #161616; 
    border-radius: 5px;
    padding-left: 20px;
    padding-bottom: 30px;
} 

.juegos-similares{
    border: 1px solid gray;
    height: 300px;
    width: 100%;
}

.ediciones{
    padding-top: 3%;
    border-bottom: 1px solid rgb(195, 194, 194);
    padding-bottom: 3% ;
}

.titulos{
    border-bottom: 1px solid rgb(197, 195, 195, .26);
    padding-bottom: 5px ;
}

#titulo {
    display: block;
}

.arriba{
    display: flex;
    flex-direction: row;
}

.columna-tabla{
    padding: 15px;
    font-size: 20px;
    
}

.fila-tabla{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.columna-tabla a{
    text-decoration: none;
    color: rgb(180, 180, 180);
}

.columna-tabla a:hover{
    color:rgb(238, 40, 76);
}

.ultima-linea {
    padding-top: 3%;
    padding-bottom: 3% ;
}

.construccion{
    font-family: arial, sans-serif;
    padding-top: 15%;
    margin: 0 auto;
    height: 815px;
    text-align: center;
}

.letra-bold { 
    font-weight: bold;
    width: 100%;
    text-align: left;
    
}

.construccion h1 {
    font-size: 60px;
    color:#FF002F;
}

.construccion h3{
    color:#c8c7c8;
}

.categoria-espacio {
    margin: 2%;
}

.construccion h5{
    font-size: 30px;
}

.compras a {
    text-decoration: none;
}

/*Caruosel de Generos*/

.carousel__contenedor {
    position: relative;
}

.carousel__anterior, 
.carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 50px;
    border: none;
    top: calc(50% - 35px);
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    background: none;
    color: white;
    opacity: 20%;
    font-size: 50px;
}

.carousel__anterior {
    left: -40px;
}

.carousel__siguiente {
    right: -40px;
}

.carousel__lista {
    overflow: hidden;
}

.carousel__anterior:hover, 
.carousel__siguiente:hover {
    opacity: 100%;
}

.carousel__indicadores .glider-dot {
    display: block;
    height: 3px;
    width: 35px;
    background: rgb(70, 69, 69);
    margin-top: 10px;
    margin-left: 1px;
    border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
    opacity: .5;
}

.carousel__indicadores .glider-dot.active {
    background: rgb(231, 231, 231);
}


.card-titulo {
    text-align: center;
    color:rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(197, 195, 195, .26);
}

.card-body a {
    color: white;
    text-decoration: none;
    
}

.card-enlace {
    text-align: center;
}


.card-body a:hover {
    color:#FF002F;
    text-decoration: none;
    
}

.analisis {
    padding-top: 3%;
    padding-bottom: 5%;
}

.esconder {
    display: none;
}

.adaptable {
    display: flex;
}
.col-adaptable {
    
    flex-direction: row;
}

/*Inicio de paginacion*/

.paginacion {
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 50px;
}

.numero-pagina {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    margin: auto 5px; 
    position: relative;
    background-color: #161616;
    border-radius: 10px;
    height: 50px;

}

.numero-pagina a {
    color: white;
}

.numero-pagina:hover a {
    background-color: rgb(238, 40, 76);
    width: 100%;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s;
}

/*Fin de paginacion*/

.consolas {
    margin-bottom: 5%;
}

.novedades {
    margin-bottom: 5%;
}


