
@media all and (max-width: 370px) {
    
    .titulo-principal h1{
        margin-top: 20%;
        font-size: 30px;
    }

    .titulo-contenido h1{
        margin-bottom: 10%;
    }

    #carouselExampleCaptions{
        height: 450px;
        margin-bottom: 10%;
    }

    #carouselExampleCaptions img {
        margin-top: 15%;
        height: 250px;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-caption  {
        margin-top: 10px;
        position: relative;
        font-size: 15px;
        left: calc(10% - 40px);
        text-align: center;
       
    }

    .img-compra{
        width: 55px;
        height: 55px;
        border-radius: 10px;
    
    }

    .trailer iframe  {
        padding-top: 5%;
        width: 300px;
        height: 200px;
    }

    .info-juego {
        display: flex;
        flex-direction: column-reverse;
    } 

    .carousel-categorias .carousel__indicadores {
        margin-bottom: 10%;
    }

    .construccion h3 {
        padding-top: 60%;
        font-size: 22px;
        margin-bottom: 30px;
    }

}



@media all and (min-width: 371px) and (max-width: 576px){
    
    .titulo-principal h1{
        margin-top: 20%;
        font-size: 30px;
    }

    .titulo-contenido h1{
        margin-bottom: 10%;
    }

    #carouselExampleCaptions{
        height: 450px;
        margin-bottom: 10%;
    }

    #carouselExampleCaptions img {
        margin-top: 15%;
        height: 250px;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-caption  {
        margin-top: 10px;
        position: relative;
        font-size: 15px;
        left: calc(10% - 42px);
        text-align: center;
       
    }

    .trailer iframe  {
        padding-top: 5%;
        width: 350px;
        height: 225px;
    }

    .info-juego {
        display: flex;
        flex-direction: column-reverse;
    } 

    .carousel-categorias .carousel__indicadores {
        margin-bottom: 10%;
    }

    .construccion h3 {
        padding-top: 60%;
        font-size: 22px;
        margin-bottom: 30px;
    }

}

@media all and (min-width: 577px) and (max-width: 856px)  {
    .titulo-principal h1{
        margin-top: 10%;
        margin-bottom: 2%;
       
    }

    #carouselExampleCaptions {
        margin-top: 10%;
    }

    .trailer iframe  {
        width: 520px;
        height: 305px;
        }

    .info-juego {
        display: flex;
        flex-direction: column-reverse;
    }

    #carouselExampleCaptions{
        height: 460px;
        margin-bottom: 10%;
    }

    #carouselExampleCaptions img {
        margin-top: 0;
        height: 340px;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-caption  {
        margin-top: 10px;
        position: relative;
        font-size: 18px;
        left: calc(10% - 55px);
        text-align: center;
       
    }

    .construccion h3 {
        padding-top: 35%;
        font-size: 22px;
        margin-bottom: 30px;
    }

}

@media all and (min-width: 857px) and (max-width: 1024px) {
    .titulo-principal h1{
        margin-top: 10%;
        margin-bottom: 2%;
       
    }

    .info-juego {
        display: flex;
        flex-direction: column-reverse;
    } 

    #carouselExampleCaptions{
        height: 460px;
        margin-bottom: 15%;
    }

    #carouselExampleCaptions img {
        margin-top: 5%;
        height: 350px;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-caption  {
        margin-top: 10px;
        position: relative;
        font-size: 20px;
        left: calc(8% - 60px);
        text-align: center;
       
    }

    .construccion h3 {
        padding-top: 30%;
        font-size: 30px;
        margin-bottom: 30px;
    }
 
}


@media all and (min-width: 1025px) and (max-width: 1399px)  {
    .titulo-principal h1 {
        margin-top: 3%;
        margin-bottom: 2%;
 
    }

    .info-juego {
        display: flex;
        padding-left: 0;
        padding-bottom: 2%;
    } 

 iframe {
        width: 1140px;
        height: 765px;
    }

    #carouselExampleCaptions{
        height: 470px;
        margin-bottom: 25%;
    }

    #carouselExampleCaptions img {
        margin-top: 5%;
        height: 450px;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-caption  {
        margin-top: 10px;
        position: relative;
        font-size: 20px;
        left: calc(8% - 60px);
        text-align: center;
       
    }

    .construccion h3 {
        padding-top: 10%;
        font-size: 30px;
        margin-bottom: 30px;
    }

}

@media all and (min-width: 1400px) and (max-width: 1700px)  {
    .titulo-principal h1{
        margin-top: 3%;
        margin-bottom: 2%;
       
    }
    
    .info-juego {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;
        padding-bottom: 5%;
    } 
 
}















